# Bank Marketting Subscription Prediction Project

### Business Understanding

#### **Problem Statement** 
The goal of this project is to build a predictive model that accurately determines the likelihood of a client subscribing to a term deposit based on various customer features. The bank's marketing campaigns heavily rely on effectively targeting customers who are more likely to subscribe to a term deposit. By leveraging machine learning techniques, the project seeks to improve the efficiency of these marketing campaigns and increase the conversion rate

#### **Stakeholders:**
     - Executive Officers (CEO)
     - Marketing Officers (CMO) 
     - Data Aministrators (CDA)

Prior information we have been provided with is as below in the output of this code:

In [31]:
# Load names file
with open(r"C:\Users\Admin\OneDrive\Desktop\Bank-Marketing-Subscription-Predictor\data\bank-names.txt", "r") as file:
    lines = file.readlines()
    for line in lines:
        print(line.strip())

1. Relevant Information:

The data is related with direct marketing campaigns of a banking institution.
The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required,
in order to access if the product (bank term deposit) would be (or not) subscribed.

There are two datasets:
1) bank-full.csv with all examples, ordered by date (from May 2008 to November 2010).
2) bank.csv with 10% of the examples (4521), randomly selected from bank-full.csv.
The smallest dataset is provided to test more computationally demanding machine learning algorithms (e.g. SVM).

2. Number of Instances: 45211 for bank-full.csv (4521 for bank.csv)

3. Number of Attributes: 16 + output attribute.

4. Attribute information:

Input variables:
# bank client data:
1 - age (numeric)
2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
"blue-collar","self-employed","retired","technician","services")
3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)
4 - education (categorical: "unknown","secondary","primary","tertiary")
5 - default: has credit in default? (binary: "yes","no")
6 - balance: average yearly balance, in euros (numeric)
7 - housing: has housing loan? (binary: "yes","no")
8 - loan: has personal loan? (binary: "yes","no")
# related with the last contact of the current campaign:
9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
10 - day: last contact day of the month (numeric)
11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
12 - duration: last contact duration, in seconds (numeric)
# other attributes:
13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
15 - previous: number of contacts performed before this campaign and for this client (numeric)
16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

Output variable (desired target):
17 - y - has the client subscribed a term deposit? (binary: "yes","no")

5. Missing Attribute Values: None

- We can deduce that this is a classification problem and this will inform the flow of the project that is ; the feature engeneering,the evaluation metrics, the models that are likely to work best with such a project etc 
- That being noted, as the project progresses, **key insights** are noted below each task performed for better project flow  

#### **Key Metrics and Success Criteria**
     1. Acuracy-The Model should have an accuracy score of 85% (On balanced data).Good models are expected to have an accuracy score of >0.80 or 80%
     2. Threshold for precision and Recall - The model should achieve a precision and recall at least 80%. This assures that the model is reliable in predicting
     3. Minimum F1 Score- The F1 score should be atleast 0.75. This balances the trade offs between precision and recalls, indicating the model performs well even if the class distribution is imbalanced
     4. AUC-ROC Score- This should be atleast 0.85. A high AUC-ROC score indicates that the model is effective in distinguishing subscribers to non subscribers
     5. Confusion Matrix - The number of False Negatives (FN) should be lower to ensure that most of the subscription cases are identified
     
    
#### **Hypothesis**

#### Null Hypothesis

#### Alternative Hpothesis

#### Analytical Questions

### **Data Understanding**

#### **Importations**

In [32]:
import numpy as np
import pandas as pd

#### **Load Datasets**

In [33]:
# Load csv data
bank_additional_full = pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\Bank-Marketing-Subscription-Predictor\data\bank-additional-full.csv", delimiter=";")
bank_additional = pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\Bank-Marketing-Subscription-Predictor\data\bank-additional.csv", delimiter=";")
bank_full = pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\Bank-Marketing-Subscription-Predictor\data\bank-full.csv", delimiter=";")
bank = pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\Bank-Marketing-Subscription-Predictor\data\bank.csv", delimiter=";")

In [34]:
bank_additional_full.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [35]:
bank_additional.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [36]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [37]:
bank_full.head ()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

#### **Data Exploration**

In [38]:
shapes = f"""
Bank Additional Full:
{bank_additional_full.shape}
-----------------------------------------------------------------------------------------
Bank Additional:
{bank_additional.shape}
-----------------------------------------------------------------------------------------
Bank:
{bank.shape}
----------------------------------------------------------------------------------------- 
Bank Full:
{bank_full.shape}
-----------------------------------------------------------------------------------------
"""
print (shapes)

Bank Additional Full:
(41188, 21)
-----------------------------------------------------------------------------------------
Bank Additional:
(4119, 21)
-----------------------------------------------------------------------------------------
Bank:
(4521, 17)
-----------------------------------------------------------------------------------------
Bank Full:
(45211, 17)
-----------------------------------------------------------------------------------------

In [39]:
infos = f"""
Bank Additional Full:
{bank_additional_full.info()}
-----------------------------------------------------------------------------------------
Bank Additional:
{bank_additional.info()}
-----------------------------------------------------------------------------------------
Bank Full:
{bank_full.info()}
----------------------------------------------------------------------------------------- 
Bank :
{bank.info()}
-----------------------------------------------------------------------------------------
"""
print (infos)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

Bank Additional Full:
None
-----------------------------------------------------------------------------------------
Bank Additional:
None
-----------------------------------------------------------------------------------------
Bank Full:
None
-----------------------------------------------------------------------------------------
Bank :
None
-----------------------------------------------------------------------------------------

In [40]:
columns = f"""
Bank Additional Full:
{bank_additional_full.columns}
-----------------------------------------------------------------------------------------
Bank Additional:
{bank_additional.columns}
-----------------------------------------------------------------------------------------
Bank Full:
{bank_full.columns}
----------------------------------------------------------------------------------------- 
Bank :
{bank.columns}
-----------------------------------------------------------------------------------------
"""
print (columns)

Bank Additional Full:
Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')
-----------------------------------------------------------------------------------------
Bank Additional:
Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')
-----------------------------------------------------------------------------------------
Bank Full:
Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')
-----------------------------------------------------------------------------------------
Bank :
Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')
-----------------------------------------------------------------------------------------

In [41]:
bank_additional_full.iloc[8136:8800]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
8136,28,services,married,high.school,no,no,no,telephone,jun,tue,...,6,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
8137,60,unknown,married,basic.6y,unknown,no,no,telephone,jun,tue,...,7,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
8138,44,blue-collar,married,basic.9y,unknown,no,no,telephone,jun,tue,...,5,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
8139,36,services,single,basic.9y,no,no,no,telephone,jun,tue,...,10,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
8140,26,admin.,married,high.school,no,no,no,telephone,jun,tue,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,36,technician,married,professional.course,no,yes,no,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,no
8796,32,admin.,married,university.degree,no,no,no,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,no
8797,48,admin.,married,high.school,no,yes,yes,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,no
8798,41,services,divorced,basic.9y,no,yes,no,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,no
8799,50,housemaid,married,unknown,no,yes,no,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,no

Insigts
- Bank_Additional and Bank are samples taken from Bank_Additional_Full and Bank_Full (10% from each), therefore we will merge only the latter two for 2 reasons; 

-- First we cannot merge in the samples to avoid data duplication and loss of data integrity

-- Second We can only use the actual data and not the samples to avoid creating assumptions as we do    not know the creteria used in picking the samples

- For data consistency, the columns;'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed in Bank_Aditional_Full will be dropped as will not use them in this analysis
 
- The column day_of_week in Bank_Aditional_Full and bank_full have a disparity *if we could know which year this data is from* we could convert the day_of_week and the days column to be uniform- may 2008 to November 2010 for the Bank_Full

- The 'balance' column has a lot of null values, we will handle this by replacing null values with the mean balance of the respective job category, as this is a common practice and it can help in improving the model's performance.

- The 'pdays' column has -1 values which means the customer was not previously contacted by the bank. We will create a  new feature to differentiate whether was contacted or not 

- Need to calculate Hypothesis calculations of the features to know what to set as the hypothesis

#### **Data Preparation**

In [42]:
# Drop the emp.var.rate', 'cons.price.idx','cons.conf.idx', 'euribor3m', 'nr.employed', columns

columns_to_drop = ['emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']
bank_additional_full = bank_additional_full.drop(columns=columns_to_drop)

# Confirm the columns have been dropped
print("Remaining columns:")
print(bank_additional_full.columns)

Remaining columns:
Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [43]:
bank_additional_full.shape

(41188, 16)

Handling column inconsistecy in 'day_of_week; in bank_additional_full and 'day' in bank_full

In [44]:
# Get unique values in the 'day_of_week' column
unique_days = bank_additional_full['day_of_week'].unique()

# Print the unique
unique_days

array(['mon', 'tue', 'wed', 'thu', 'fri'], dtype=object)

In [45]:
# Get unique values in the 'day' column
days = bank_full['day'].unique()

# Print the unique
days

array([ 5,  6,  7,  8,  9, 12, 13, 14, 15, 16, 19, 20, 21, 23, 26, 27, 28,
       29, 30,  2,  3,  4, 11, 17, 18, 24, 25,  1, 10, 22, 31])

In [46]:
bank_additional_full["month"].unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'mar', 'apr',
       'sep'], dtype=object)

In [47]:
# Mapping our 'day' Column in bank_full to match that of bank_additional_full day_of_week

# Create a date range from May 1, 2008 to November 30, 2010 (daily frequency)
dates = pd.date_range(start='2008-05-01', end='2010-11-30', freq='D')

# Split the DataFrame into as many groups as there are dates
groups = np.array_split(bank_full, len(dates))

# Assign each group its corresponding date using list comprehension
bank_full_new = pd.concat([group.assign(date=date) for date, group in zip(dates, groups)])

# Create a new column with the day of the week (short format, e.g., 'mon')
bank_full_new['day_of_week'] = bank_full_new['date'].dt.day_name().str[:3].str.lower()

c:\Users\Admin\OneDrive\Desktop\Bank-Marketing-Subscription-Predictor\venv\lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [48]:
bank_full_new.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,date,day_of_week
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no,2008-05-01,thu
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no,2008-05-01,thu
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no,2008-05-01,thu
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no,2008-05-01,thu
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no,2008-05-01,thu

In [49]:
# Drop the date and day column from the bank_full_with_dates as it lacks any relevance to this analysis 

bank_full_new = bank_full_new.drop(columns=['date', 'day'])

bank_full_new.head()

,age,job,marital,education,default,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome,y,day_of_week
0,58,management,married,tertiary,no,2143,yes,no,unknown,may,261,1,-1,0,unknown,no,thu
1,44,technician,single,secondary,no,29,yes,no,unknown,may,151,1,-1,0,unknown,no,thu
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,may,76,1,-1,0,unknown,no,thu
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,may,92,1,-1,0,unknown,no,thu
4,33,unknown,single,unknown,no,1,no,no,unknown,may,198,1,-1,0,unknown,no,thu

In [50]:
bank_additional_full.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,no

In [51]:
bank_full_new.shape

(45211, 17)

Handling balance column

In [52]:
# Get unique values in the 'balance' column
Balance = bank_full_new['balance'].unique()

# Print the unique
Balance

array([ 2143,    29,     2, ...,  8205, 14204, 16353])

In [53]:

bank_full_new['balance'].iloc[20:40]

20      723
21      779
22       23
23       50
24        0
25     -372
26      255
27      113
28     -246
29      265
30      839
31      378
32       39
33        0
34    10635
35       63
36       -7
37       -3
38      506
39        0
Name: balance, dtype: int64

In [54]:
# Drop the 'balance' column 

bank_full_new = bank_full_new.drop(columns=['balance'])

bank_full_new.head()

,age,job,marital,education,default,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome,y,day_of_week
0,58,management,married,tertiary,no,yes,no,unknown,may,261,1,-1,0,unknown,no,thu
1,44,technician,single,secondary,no,yes,no,unknown,may,151,1,-1,0,unknown,no,thu
2,33,entrepreneur,married,secondary,no,yes,yes,unknown,may,76,1,-1,0,unknown,no,thu
3,47,blue-collar,married,unknown,no,yes,no,unknown,may,92,1,-1,0,unknown,no,thu
4,33,unknown,single,unknown,no,no,no,unknown,may,198,1,-1,0,unknown,no,thu

Handling duplicates

In [55]:
print(bank_additional_full.duplicated().sum())  # Check duplicates in bank_additional_full
print(bank_full_new.duplicated().sum())        # Check duplicates in bank_full_new

13
11

In [56]:
# Check duplication across the columns 

print(bank_additional_full[bank_additional_full.duplicated()])
print(bank_full_new[bank_full_new.duplicated()])

       age          job   marital            education  default housing loan  \
1266    39  blue-collar   married             basic.6y       no      no   no
12261   36      retired   married              unknown       no      no   no
14234   27   technician    single  professional.course       no      no   no
16956   47   technician  divorced          high.school       no     yes   no
18465   32   technician    single  professional.course       no     yes   no
20216   55     services   married          high.school  unknown      no   no
20534   41   technician   married  professional.course       no     yes   no
25217   39       admin.   married    university.degree       no      no   no
28477   24     services    single          high.school       no     yes   no
32516   35       admin.   married    university.degree       no     yes   no
33296   36  blue-collar   married             basic.9y       no      no   no
36951   45       admin.   married    university.degree       no      no   no
38281   71      retired    single    university.degree       no      no   no

         contact month day_of_week  duration  campaign  pdays  previous  \
1266   telephone   may         thu       124         1    999         0
12261  telephone   jul         thu        88         1    999         0
14234   cellular   jul         mon       331         2    999         0
16956   cellular   jul         thu        43         3    999         0
18465   cellular   jul         thu       128         1    999         0
20216   cellular   aug         mon        33         1    999         0
20534   cellular   aug         tue       127         1    999         0
25217   cellular   nov         tue       123         2    999         0
28477   cellular   apr         tue       114         1    999         0
32516   cellular   may         fri       348         4    999         0
33296   cellular   may         tue       151         1    999         0
36951   cellular   jul         thu       252         1    999         0
38281  telephone   oct         tue       120         1    999         0

          poutcome    y
1266   nonexistent   no
12261  nonexistent   no
14234  nonexistent   no
16956  nonexistent   no
18465  nonexistent   no
20216  nonexistent   no
20534  nonexistent   no
25217  nonexistent   no
28477  nonexistent   no
32516  nonexistent   no
33296  nonexistent   no
36951  nonexistent  yes
38281  nonexistent   no
       age          job  marital  education default housing loan   contact  \
881     38  blue-collar  married  secondary      no     yes   no   unknown
2690    31  blue-collar  married    primary      no     yes   no   unknown
6696    42  blue-collar  married  secondary      no     yes   no   unknown
6893    34     services  married  secondary      no     yes   no   unknown
8138    29       admin.   single  secondary      no     yes   no   unknown
10348   40       admin.  married  secondary      no      no   no   unknown
10666   52  blue-collar  married  secondary      no      no   no   unknown
11628   39  blue-collar  married    primary      no     yes   no   unknown
20431   31   management   single   tertiary      no      no   no  cellular
37631   32  blue-collar  married  secondary      no     yes   no  cellular
42757   26       admin.   single  secondary      no      no   no  cellular

      month  duration  campaign  pdays  previous poutcome   y day_of_week
881     may       287         1     -1         0  unknown  no         mon
2690    may       241         2     -1         0  unknown  no         thu
6696    may       136         1     -1         0  unknown  no         wed
6893    may       124         1     -1         0  unknown  no         sun
8138    jun       121         4     -1         0  unknown  no         fri
10348   jun        82         1     -1         0  unknown  no         tue
10666   jun       163         1     -1         0  unknown  no         tue
11628   jun       112         4     -1         0  unknown  no         mon
20431   aug        82         2     -1         0  unknown  no         tue
37631   may       145         1     -1         0  unknown  no         wed
42757   jan       103         1     -1         0  unknown  no         sat

In [57]:
# Drop duplicates 

bank_additional_full.drop_duplicates(inplace=True)
bank_full_new.drop_duplicates(inplace=True)

# Confirm the duplicates have been dropped

print(bank_additional_full.duplicated().sum())  # Check duplicates in bank_additional_full
print(bank_full_new.duplicated().sum())        # Check duplicates in bank_full_new

0
0

#### **Merge the Train Datasets**

In [58]:
# Combine DataFrames
Bank_anaysis_data = pd.concat([bank_additional_full, bank_full_new], ignore_index=True)

Bank_anaysis_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,no

In [59]:
# Checking for duplicates 
Bank_anaysis_data.duplicated().sum()

np.int64(0)

In [60]:
# Missing values with their percentages 
Bank_anaysis_data.isnull().sum().to_frame('Null Count').assign(Percentage=lambda x: (x['Null Count'] / len(Bank_anaysis_data)) * 100)

             Null Count  Percentage
age                   0         0.0
job                   0         0.0
marital               0         0.0
education             0         0.0
default               0         0.0
housing               0         0.0
loan                  0         0.0
contact               0         0.0
month                 0         0.0
day_of_week           0         0.0
duration              0         0.0
campaign              0         0.0
pdays                 0         0.0
previous              0         0.0
poutcome              0         0.0
y                     0         0.0